<footer class="text-white text-center">
    <div class="experience py-5">
        <div class="container px-5">
            <div class="row g-5">
                <div class="col-lg-4 col-md-12">
                    <div class="userDetails">
                        <h3 class="mb-4">LOCATION</h3>
                        <p class="mb-0">2215 John Daniel Drive</p>
                        <p class="mb-0">Clark, MO 65243</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="userDetails">
                        <h3 class="mb-4">AROUND THE WEB</h3>
                        <div class="social-icon d-flex justify-content-center">
                            <div class="icon d-flex align-items-center justify-content-center mx-1">
                                <a href="" class="text-white"><i class="fa-brands fa-facebook-f fa-1x fa-fw"></i></a>
                            </div>
                            <div class="icon d-flex align-items-center justify-content-center mx-1">
                                <a href="" class="text-white"><i class="fa-brands fa-twitter fa-1x fa-fw"></i></a>
                            </div>
                            <div class="icon d-flex align-items-center justify-content-center mx-1">
                                <a href="" class="text-white"><i class="fa-brands fa-linkedin-in fa-1x fa-fw"></i></a>
                            </div>
                            <div class="icon d-flex align-items-center justify-content-center mx-1">
                                <a href="" class="text-white"><i class="fa-brands fa-dribbble fa-1x fa-fw"></i></a>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="userDetails">
                        <h3 class="mb-4">ABOUT FREELANCER</h3>
                        <p>Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="end text-center py-4">
        <div class="container">
            <p class="mb-0">Copyright © Your Website 2021</p>
        </div>
    </div>
</footer>

<!-- col-lg-4 col-md-12 -->
<!-- position-fixed fixed-bottom -->