<nav class="navbar navbar-expand-lg fixed-top text-white py-4">
    <div class="container">
      <a class="navbar-brand fw-bold text-white fs-4" href="#">START ANGULAR</a>
      <button class="navbar-toggler fw-bold text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        MENU
          <i class="fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold">
          <li class="nav-item">
            <a class="nav-link py-3 px-lg-3" aria-current="page" routerLink="portfolio" routerLinkActive="test">PORTOFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-3 px-lg-3" aria-current="page" routerLink="about" routerLinkActive="test">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-3 px-lg-3" aria-current="page" routerLink="contact" routerLinkActive="test">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
